<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/seller/assets/images/favicon.png}">
    <title>Sản phẩm</title>
    <!-- Custom CSS -->
    <link th:href="@{/seller/assets/extra-libs/multicheck/multicheck.css}" rel="stylesheet" />
    <link th:href="@{/seller/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css}" rel="stylesheet" />
    <link th:href="@{/seller/dist/css/style.min.css}" rel="stylesheet" />
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
</form>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <div th:replace="fragments/admin-header :: header"></div>

    <div th:replace="fragments/admin-header :: aside"></div>
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Danh sách món ăn thuộc: <span th:text="${category.categoryDescription}"></span></h5>
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Tên thức ăn</th>
                                        <th>Giá</th>
                                        <th>Nhà hàng</th>
                                        <th sec:authorize="hasAnyAuthority('ADMIN')">Hành động</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="food : ${FoodByCategories}">
                                        <td th:text="${food.getFoodName()}"></td>
                                        <td th:text="${food.getPrice()}"> Vnđ</td>
                                        <td th:text="${food.restaurant.name}"></td>
                                        <td colspan="2">
                                            <a class="btn btn-primary"
                                               th:href="@{/admin/list-foods/details/{id}(id=${food.getId()})}">Xem chi tiết</a>
                                            <a class="btn btn-primary"
                                               sec:authorize="hasAnyAuthority('ADMIN')"
                                               th:href="@{/admin/list-foods/edit/{id}(id=${food.getId()})}">Chỉnh sửa</a>
                                            <a class="btn btn-danger"
                                               sec:authorize="hasAnyAuthority('ADMIN')"
                                               th:href="@{/admin/list-foods/delete/{id}(id=${food.getId()})}"
                                               onclick="return confirm('Are you sure you want to delete this book?')">Xóa</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Tên thức ăn</th>
                                        <th>Giá</th>
                                        <th>Nhà hàng</th>
                                        <th></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div th:replace="fragments/admin-footer :: footer"></div>

        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script th:src="@{/seller/assets/libs/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script th:src="@{/seller/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/seller/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script th:src="@{/seller/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/seller/assets/extra-libs/sparkline/sparkline.js}"></script>
<!--Wave Effects -->
<script th:src="@{/seller/dist/js/waves.js}"></script>
<!--Menu sidebar -->
<script th:src="@{/seller/dist/js/sidebarmenu.js}"></script>
<!--Custom JavaScript -->
<script th:src="@{/seller/dist/js/custom.min.js}"></script>
<!-- this page js -->
<script th:src="@{/seller/assets/extra-libs/multicheck/datatable-checkbox-init.js}"></script>
<script th:src="@{/seller/assets/extra-libs/multicheck/jquery.multicheck.js}"></script>
<script th:src="@{/seller/assets/extra-libs/DataTables/datatables.min.js}"></script>
<script>
    /****************************************
     *       Basic Table                   *
     ****************************************/
    $(document).ready(function() {
        $('#zero_config').DataTable();
    });
</script>
<script>
    document.getElementById('logoutLink').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('logoutForm').submit();
    });
</script>
</body>

</html>