<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/seller/assets/images/favicon.png}">
    <title>Đơn hàng</title>
    <!-- Custom CSS -->
    <link th:href="@{/seller/assets/extra-libs/multicheck/multicheck.css}" rel="stylesheet"/>
    <link th:href="@{/seller/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css}" rel="stylesheet"/>
    <link th:href="@{/seller/dist/css/style.min.css}" rel="stylesheet"/>

</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
</form>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <div th:replace="fragments/admin-header :: header"></div>

    <div th:replace="fragments/admin-header :: aside"></div>
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Đơn hàng</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Chi tiết đơn hàng</h5>
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Tên món ăn</th>
                                        <th>Số lượng</th>
                                        <th>Giá món ăn</th>
                                        <th>Tổng giá</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Dữ liệu sẽ được thêm vào đây bởi JavaScript -->
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/admin-footer :: footer"></div>
    </div>
</div>

<script th:src="@{/seller/assets/libs/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script th:src="@{/seller/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/seller/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script th:src="@{/seller/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/seller/assets/extra-libs/sparkline/sparkline.js}"></script>
<!--Wave Effects -->
<script th:src="@{/seller/dist/js/waves.js}"></script>
<!--Menu sidebar -->
<script th:src="@{/seller/dist/js/sidebarmenu.js}"></script>
<!--Custom JavaScript -->
<script th:src="@{/seller/dist/js/custom.min.js}"></script>
<!-- this page js -->
<script th:src="@{/seller/assets/extra-libs/multicheck/datatable-checkbox-init.js}"></script>
<script th:src="@{/seller/assets/extra-libs/multicheck/jquery.multicheck.js}"></script>
<script th:src="@{/seller/assets/extra-libs/DataTables/datatables.min.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tableBody = document.querySelector("#zero_config tbody");

        // Lấy id từ URL hiện tại
        const urlParts = window.location.pathname.split('/');
        const orderId = urlParts[urlParts.length - 1];

        fetch(`/api/admin/orders/${orderId}`)
            .then(response => response.json())
            .then(data => {
                data.forEach(order => {
                    var row = tableBody.insertRow();

                    var foodNameCell = row.insertCell();
                    foodNameCell.textContent = order.foodItem.foodName;

                    var quantityCell = row.insertCell();
                    quantityCell.textContent = order.quantity;

                    var foodPriceCell = row.insertCell();
                    foodPriceCell.textContent = order.foodItem.price;

                    var totalPriceCell = row.insertCell();
                    totalPriceCell.textContent = order.price;
                });
            })
            .catch(error => console.error('Lỗi khi lấy dữ liệu đơn hàng:', error));
    });
</script>

<script>
    document.getElementById('logoutLink').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('logoutForm').submit();
    });
</script>

</body>

</html>