<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--===============================================================================================-->
    <link rel="icon" th:href="@{/images/icons/favicon.png}" type="image/png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/animate/animate.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/animsition/css/animsition.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/select2/select2.min.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/daterangepicker/daterangepicker.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/slick/slick.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/MagnificPopup/magnific-popup.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" type="text/css">
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/css/util.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>
<body>
<!-- Footer Fragment -->
<footer class="bg3 p-t-75 p-b-32" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Đăng kí làm người bán
                </h4>
                <a href="/register/restaurant">
                <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                    ĐĂNG KÍ
                </button>
            </div>
        </div>

        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a href="#" class="m-all-1">
                    <img th:src="@{/images/icons/icon-pay-01.png}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img th:src="@{/images/icons/icon-pay-02.png}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img th:src="@{/images/icons/icon-pay-03.png}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img th:src="@{/images/icons/icon-pay-04.png}" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img th:src="@{/images/icons/icon-pay-05.png}" alt="ICON-PAY">
                </a>
            </div>

            <p class="stext-107 cl6 txt-center">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                    href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a
                    href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </p>
        </div>
    </div>
</footer>
</body>
</html>
