<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--===============================================================================================-->
    <link rel="icon" th:href="@{/images/icons/favicon.png}" type="image/png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/animate/animate.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/animsition/css/animsition.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/select2/select2.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/css/util.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>

</head>
<body class="animsition">
<form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
</form>
<div th:replace="fragments/home-and-product-header :: header"></div>
<h1>Order Confirmation</h1>
<p th:text="${message}"></p>
<a href="/" class="btn btn-primary">Go to Home</a>
<a th:href="@{/orders/order}" class="btn btn-danger ">Đi tới đơn hàng</a>
<!-- Footer -->
<div th:replace="fragments/home-and-product-footer :: footer"></div>

<!--===============================================================================================-->
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        });
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            });
        });
    });
</script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>
</body>
</html>