<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <link th:fragment="link-css" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}">
    <link th:fragment="custom-css" rel="stylesheet"
          th:href="@{/css/style.css}">
</head>
<body>

<th:block th:replace="~{layout::header}"></th:block>

<h1>category List</h1>

<div th:each="category : ${categories}">
    <div class="card">
        <h2 th:text="${category.categoryDescription}"></h2>
        <img th:src="@{${category.mainPicture}}" alt="[[${category.categoryDescription}]] Image">
    </div>
</div>
<th:block th:replace="~{layout::footer}"></th:block>

</body>
</html>
