<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/seller/assets/images/favicon.png}">
    <title>Trang người bán</title>
    <!-- Custom CSS -->
    <link th:href="@{/seller/assets/libs/select2/dist/css/select2.min.css}" rel="stylesheet"/>
    <link th:href="@{/seller/assets/libs/jquery-minicolors/jquery.minicolors.css}" rel="stylesheet"/>
    <link th:href="@{/seller/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}" rel="stylesheet"/>
    <link th:href="@{/seller/assets/libs/quill/dist/quill.snow.css}" rel="stylesheet"/>
    <link th:href="@{/seller/dist/css/style.min.css}" rel="stylesheet"/>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/api/seller/categories')
                .then(response => response.json())
                .then(categories => {
                    const categorySelect = document.getElementById('category');
                    categories.forEach(category => {
                        const option = document.createElement('option');
                        option.value = category.id;
                        option.textContent = category.categoryDescription;
                        categorySelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching categories:', error));
        });
    </script>
</head>
<body>

<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
</form>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <div th:replace="fragments/seller-dashboard-header-and-sidebar :: header"></div>

    <div th:replace="fragments/seller-dashboard-header-and-sidebar :: aside"></div>
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Thêm mới</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <!--                                    <li class="breadcrumb-item"><a href="#">Home</a></li>-->
                                <!--                                    <li class="breadcrumb-item active" aria-current="page">Library</li>-->
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <!--Thường-->
                        <!--<form class="form-horizontal" th:action="@{/restaurants/dashboard/add-food-item}" method="post"
                              th:object="${food}"
                              enctype="multipart/form-data">
                            <div class="card-body">
                                <h4 class="card-title">Thêm món ăn</h4>
                                <div class="form-group row">
                                    <label for="FoodName" class="col-sm-3 text-right control-label col-form-label">
                                        Tên đồ ăn: <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="FoodName" th:field="*{foodName}"
                                               required autofocus>
                                        <span class="text-danger" th:if="${#fields.hasErrors('foodName')}"
                                              th:errors="*{foodName}"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="price" class="col-sm-3 text-right control-label col-form-label">
                                        Giá thành: <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="price" th:field="*{price}">
                                        <span class="text-danger" th:if="${#fields.hasErrors('price')}"
                                              th:errors="*{price}"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="description" class="col-sm-3 text-right control-label col-form-label">
                                        Mô tả món ăn:
                                    </label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" type="text" th:field="*{description}"
                                                  id="description" required></textarea>
                                        <span class="text-danger" th:if="${#fields.hasErrors('description')}"
                                              th:errors="*{description}"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="category" class="col-sm-3 text-right control-label col-form-label">Chọn
                                        danh mục<span class="text-danger">*</span></label>
                                    <div class="col-md-9">
                                        <select class="select2 form-control custom-select" id="category"
                                                th:field="*{category.id}" required style="width: 100%; height:36px;">
                                            <option value="">Chọn</option>
                                            <option th:each="category : ${categories}" th:value="${category.id}"
                                                    th:text="${category.categoryDescription}"></option>
                                        </select>
                                        <span class="text-danger" th:if="${#fields.hasErrors('category')}"
                                              th:errors="*{category}"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 text-right control-label col-form-label">Ảnh chính: <span class="text-danger">*</span></label>
                                    <div class="col-md-9">
                                        <div class="custom-file">
                                            <input type="file"  class="form-control" id="image" name="image" required accept="image/*" placeholder="Chọn
                                                ảnh từ máy...">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 text-right control-label col-form-label">Ảnh chi tiết: <span class="text-danger">*</span></label>
                                    <div class="col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="form-control" id="images" name="images"
                                                   multiple required accept="image/*" placeholder="Chọn
                                                ảnh từ máy...">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top text-center">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    </div>
                                </div>
                            </div>
                        </form>-->
                        <!--api-->
                        <form class="form-horizontal" id="addFoodItemForm" enctype="multipart/form-data">
                            <div class="card-body">
                                <h4 class="card-title">Thêm món ăn</h4>
                                <div class="form-group row">
                                    <label for="FoodName" class="col-sm-3 text-right control-label col-form-label">
                                        Tên đồ ăn: <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="FoodName" name="foodName" required autofocus>
                                        <span class="text-danger" id="foodNameError"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="price" class="col-sm-3 text-right control-label col-form-label">Giá thành: <span class="text-danger">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="price" name="price" required>
                                        <span class="text-danger" id="priceError"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="description" class="col-sm-3 text-right control-label col-form-label">Mô tả món ăn:</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" id="description" name="description" required></textarea>
                                        <span class="text-danger" id="descriptionError"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="category" class="col-sm-3 text-right control-label col-form-label">Chọn danh mục<span class="text-danger">*</span></label>
                                    <div class="col-md-9">
                                        <select class="select2 form-control custom-select" id="category" name="categoryId" required style="width: 100%; height:36px;">
                                            <option value="">Chọn</option>
                                            <!-- Categories should be loaded dynamically -->
                                        </select>
                                        <span class="text-danger" id="categoryError"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 text-right control-label col-form-label">Ảnh chính: <span class="text-danger">*</span></label>
                                    <div class="col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="form-control" id="mainImage" name="mainImage" required accept="image/*">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 text-right control-label col-form-label">Ảnh chi tiết: <span class="text-danger">*</span></label>
                                    <div class="col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="form-control" id="images" name="images" multiple required accept="image/*">
                                        </div>
                                    </div>
                                </div>
                                <div class="border-top text-center">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-primary">Thêm</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div th:replace="fragments/seller-dashboard-footer :: footer"></div>

    </div>

</div>
<script>
    document.getElementById('addFoodItemForm').addEventListener('submit', function(event) {
        event.preventDefault();

        let formData = new FormData(this);

        fetch('http://localhost:8080/api/seller/fooditems', {
            method: 'POST',
            body: formData
        }).then(response => {
            if (response.ok) {
                // Nếu phản hồi thành công, chuyển hướng đến trang dashboard
                window.location.href = '/restaurants/dashboard';
            } else {
                // Xử lý lỗi ở đây nếu có
                return response.json().then(data => {
                    console.error('Error:', data);
                });
            }
        }).catch(error => {
            console.error('Error:', error);
        });
    });
</script>
<script>
    document.getElementById('logoutLink').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('logoutForm').submit();
    });
</script>
<script th:src="@{/seller/assets/libs/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script th:src="@{/seller/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/seller/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script th:src="@{/seller/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/seller/assets/extra-libs/sparkline/sparkline.js}"></script>
<!--Wave Effects -->
<script th:src="@{/seller/dist/js/waves.js}"></script>
<!--Menu sidebar -->
<script th:src="@{/seller/dist/js/sidebarmenu.js}"></script>
<!--Custom JavaScript -->
<script th:src="@{/seller/dist/js/custom.min.js}"></script>
<!-- This Page JS -->
<script th:src="@{/seller/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js}"></script>
<script th:src="@{/seller/dist/js/pages/mask/mask.init.js}"></script>
<script th:src="@{/seller/assets/libs/select2/dist/js/select2.full.min.js}"></script>
<script th:src="@{/seller/assets/libs/select2/dist/js/select2.min.js}"></script>
<script th:src="@{/seller/assets/libs/jquery-asColor/dist/jquery-asColor.min.js}"></script>
<script th:src="@{/seller/assets/libs/jquery-asGradient/dist/jquery-asGradient.js}"></script>
<script th:src="@{/seller/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js}"></script>
<script th:src="@{/seller/assets/libs/jquery-minicolors/jquery.minicolors.min.js}"></script>
<script th:src="@{/seller/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/seller/assets/libs/quill/dist/quill.min.js}"></script>
<script>
    //***********************************//
    // For select 2
    //***********************************//
    $(".select2").select2();

    /*colorpicker*/
    $('.demo').each(function () {
        $(this).minicolors({
            control: $(this).attr('data-control') || 'hue',
            position: $(this).attr('data-position') || 'bottom left',
            change: function (value, opacity) {
                if (!value) return;
                if (opacity) value += ', ' + opacity;
                if (typeof console === 'object') {
                    console.log(value);
                }
            },
            theme: 'bootstrap'
        });
    });

    /*datepicker*/
    $('.mydatepicker').datepicker();
    $('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });

    var quill = new Quill('#editor', {
        theme: 'snow'
    });

</script>
<script>
    document.getElementById('logoutLink').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('logoutForm').submit();
    });
</script>
</body>

</html>